* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  max-width: 100%;
  position: relative;

}

/*** scrollbar ***/

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #006a71;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #d3de32;
  border-radius: 10px;
  }

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #d3de32;
}

/*** Polices ***/

body {
  font-family: 'Mali', cursive, Arial, Helvetica, sans-serif;
}

header h1 {
  font-family: 'Mystery Quest', cursive, Arial, Helvetica, sans-serif;
}

/*** Couleurs de police ***/

header, button, #generation, .bars, .input-group-append label, .button, .button:hover, .grid-item, footer a:hover{
  color: #d3de32;
}

body, header a, label, select, .hoverTexte, .button.is-checked, #modele2 h1, #importJson {
  color: #006a71 ;
}

header li:hover, a:hover, footer, footer a {
  color: #ffffdd;
}

/*** Couleurs de background ***/

body, .navbar-toggler {
  background: #EEEEEE;
}

header, button, #generation, .input-group-append label, .button, .grid-item {
  background: #006a71;
}

.menu, .button:active, .button.is-checked, .hoverTexte {
  background-color: #d3de32;
}

.button:hover, footer, footer a {
  background-color: #222831;
}

/*** Règles générales à tout le document ***/

a:hover {
  text-decoration: none;
}

.input-group-text {
  border: 1px solid #006a71;
}

.input-group .custom-select {
  border: 1px solid #006a71;
  border-radius: 5px 0px 0px 5px !important;

}




/*** header ***/

header {
  height: 100px;
}

header h1 {
  font-size: 1.8em;
  letter-spacing: 3px;
}

header img {
  width: 70px;
  height: 100%;
}

header li {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 2em;
}

.navbar-toggler {
  position: fixed;
  top: 55px;
  right: 0px;
}

.menu {
    border-radius: 0px 0px 10px 10px;
}

.bars {
  font-size: 1.5em;
}

nav button:focus {
  outline: none;
}
.navbar {
  margin-top: 27px;
}


/***Main***/

main {

 /* retirer la hauteur du header et du footer */
   min-height: calc(100vh - 120px);
  margin-top: 100px !important; 
  overflow-x: hidden;
  width: 100%;
}

figure .td{
 
    width: 54px;
    height: 54px;
    border: 2px solid #006a71;
    border-radius: 5px;
  
}

figure .plante{
  width: 50px;
  height: 50px;
  border: 2px solid #d3de32;
  border-radius: 5px;
}
.mainmodele .td {
  width: 30px;
  height: 30px;
  border: 2px solid #006a71;
  border-radius: 5px;
}

.vignette, .plante {

  width: 24px;
  height: 24px;
  border: 2px solid #d3de32;
  border-radius: 5px;
}

.hoverTexte {
  display: none;
  z-index: 1000;
  width: 100px;
  position: relative;
  top: 15px;
  left: -25px;
  border-radius: 5px;
}

.td .plante:hover+.hoverTexte {
  display: block;
}

button, #generation,  #file-upload-button {
  border-radius: 5px !important;
  padding: 5px 10px !important;
  border: none !important;
  font-weight: bold !important;
}


#modele2 {
  overflow-x: scroll;
  width: 100%;
  padding-left: 120px;
  padding-right: 30px;
  /* scroll-padding-left: 200px; */
}
/* #grilleDeJardin {
  max-height: 70vh;
  max-width: 60vw;
  overflow-y: scroll;
  overflow-x: scroll;
} */

/* Mobile */

/* selection des div en mode mobile */
.div_selected {
  background-color:#d3de32;
  border: 8px solid #d3de32 !important;
 }

/* affichage des 3catégories fruits/légumes/herbes */
.mobile_categories {
  display:none;
}

.slick-dots {
  width: 100%;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  margin : 10px 15px;
}

.slick-next {
  position: absolute;
  top:0;
  right:0;
}

/* #slick-slide01
{
  display:none;
} */


/*** PAGE INDEX ***/

h2 {
  text-align: center;
}

.card-img-top {
  height: auto;
  width: 100%;
}

.image_modele1 {
  background: url(../img/exemple/jardin1.jpg) center / cover no-repeat;
}

.image_modele2 {
  background: url(../img/exemple/jardin2.jpg) center / cover no-repeat;
}

.image_modele3 {
  background: url(../img/exemple/jardin3.jpg) center / cover no-repeat;
}

.image_modele1, .image_modele2, .image_modele3 {
  height: 200px;
  width: 100%;
}


/**** librairie isotope.js ****/

/* ---- button ---- */

.button {

  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2));
  font-size: 0.8em;
  cursor: pointer;
}

.buttonAll {
  width: 100%;
}

.filterButton {
  width: calc(100%/3) !important;
  padding: 0px 10px !important;

}

.button:active, button:active, #generation:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.button:focus, button:focus, #generation:focus {
  outline: none;
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 5px;
  margin-left: 1px;
  margin-right: 1px;
}

/*   
.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; } */

 
/* clear fix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 5px;
}

.h2Isotope {
  font-size: 1em;
  text-align: start;
  float: left;
}

/*** librairie dragula.JS CSS ***/

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

#right {
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: scroll;
}

/* footer */

footer p {
  font-size: 1.1em;
}

footer nav ul li {
  font-size: 1em;
}

footer img {
  width: 35px;
}

/*** @media queries ***/

@media (min-width: 568px) {
  main {
      min-height: calc(100vh - 100px);
      padding-top: 180px
  }
 
  header img {
      width: 80px;
      height: 100%;
  }
  
  .navbar {
    margin-top: 18px;
  }

  #modele2 {
    overflow-x: hidden;
    width: 100%;
    padding-left: 30px;

    /* scroll-padding-left: 200px; */
  }
}



@media (min-width: 768px) {
  .menu {
      background: none;
  }
  header ul {
      flex-direction: row;
      justify-content: end;      
  }

.mainmodele .td {
  width: 54px;
  height: 54px;
  border: 2px solid #006a71;
  border-radius: 5px;
}

.vignette, .plante {

  width: 50px;
  height: 50px;
  border: 2px solid #d3de32;
  border-radius: 5px;
}
  header li {
    font-size:1em;
    font-weight: bold;
  }

  header a, header a:hover {
      color: #d3de32;
      font-size: 1em;
  }
  header a:hover {
      color: #ffffdd;
  }    
  main {
      padding-top: 116px;
  }



  @media (min-width: 981px) {
      header {
          font-size: 1.2em;
      }
  }

  /* Paramètres pour l'impression du jardin */
  
  @media print {
    header, footer, #plantes, #print, #pdfSave, img, form, #lienpdf, #mobile_categories, #jsonSave, #toGardenCreation {
      display: none !important;
    }
    .mainmodele .td {
      width: 100px;
      height: 100px;
    }

    .hoverTexte {
      display: block;
      z-index: 1000;
      width: 85px;
      position: relative;
      top: 40px;
      left: 5px;
      border-radius: 5px;
    }
    
  }

}